<header class="character-header">
  <div class="character-header__name">
      <span class="name-label">Nome de Personagem:</span>
      <h2 class="name-content">Genos o Robozão</h2>
  </div>
  <div class="character-header__info">
    <ul class="info__list">
      <li class="list__item">
        <span class="item-label">Classe e Nivel:</span>
        <p class="item-content">Barbaro 1</p>
      </li>
      <li class="list__item">
        <span class="item-label">Antecedente:</span>
        <p class="item-content">Soldado</p>
      </li>
      <li class="list__item">
        <span class="item-label">Nome do Jogador:</span>
        <p class="item-content">Carlos Jefferson</p>
      </li>
      <li class="list__item">
        <span class="item-label">Raça:</span>
        <p class="item-content">Warforged</p>
      </li>
      <li class="list__item">
        <span class="item-label">Alinhamento:</span>
        <p class="item-content">Leal e bom</p>
      </li>
      <li class="list__item">
        <span class="item-label">Experiência:</span>
        <p class="item-content">100XP</p>
      </li>
    </ul>
  </div>

  <div class="character-header__inspiration">
    <span>Inspiração</span>
    <span>O</span>
  </div>
  <div class="character-header__inspiration">
    <span>Bonus</span>
    <span>+2</span>
    <span>Proficiência</span>

  </div>

  <!-- inspiração<br>
  bonus de proficiencia<br>
  velocidade<br>
  visão -->
</header>
